{{- if not .Params.disableShare -}}
{{- $api := strings.TrimSuffix "/" (default "" .Site.Params.garrulApi) -}}
{{- if $api -}}
<section class="comments">
    <hr>
    <h3>{{ if eq .Language.Lang "id" }}Komentar{{ else }}Comments{{ end }}</h3>
    <div
        id="garrul"
        data-slug="{{ strings.Trim .RelPermalink "/" }}"
        data-api="{{ $api }}"
        data-title="{{ .Title }}"
        data-url="{{ .Permalink }}"
        data-published="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}"
    ></div>
    <script src="{{ $api }}/embed.js" defer></script>
</section>
{{- end -}}
{{- end -}}
